<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ingredient.image %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @ingredient.image_url %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
